@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  padding-block-start: 90px;
  background-color: #F7F7F7;
  font-family: sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
  color: black;
}