@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
  padding-block-start: 90px;
  background-color: #F7F7F7;
  font-family: sans-serif;

}
:root {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}